### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [27]:
# Counting # of unique players
unique_players = purchase_df["SN"].nunique()
player_count_df = pd.DataFrame({"Total Players": [unique_players]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
# Basic summary of dataset
unique_items = purchase_df["Item ID"].nunique()
avg_price = "${:.2f}".format(purchase_df["Price"].mean())
num_purchases = len(purchase_df)
tot_rev = "${:.2f}".format(purchase_df["Price"].sum())

analysis_df = pd.DataFrame({
    "Total Purchases": [num_purchases],
    "Unique Items": [unique_items],
    "Average Sale Price": [avg_price],
    "Total Revenue": [tot_rev]
})
analysis_df

   Total Purchases  Unique Items Average Sale Price Total Revenue
0              780           179              $3.05      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [29]:
# Getting totals by gender
tot_m = purchase_df.loc[purchase_df["Gender"] == "Male","SN"].nunique()
tot_f = purchase_df.loc[purchase_df["Gender"] == "Female","SN"].nunique()
tot_o = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed","SN"].nunique()  

# Calculating the percentages
percent_m = "{:.2f}%".format((tot_m/unique_players)*100)
percent_f = "{:.2f}%".format((tot_f/unique_players)*100)
percent_o = "{:.2f}%".format((tot_o/unique_players)*100)

# Creating DF
gender_df = pd.DataFrame({
    "Total Count": [tot_m, tot_f, tot_o],
    "Percentage of Players": [percent_m, percent_f, percent_o]
}, index = ["Male", "Female", "Other / Non-Disclosed"])
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
# Creating variables for out DF
sale_m = purchase_df.loc[purchase_df["Gender"] == "Male","Purchase ID"].nunique()
sale_f = purchase_df.loc[purchase_df["Gender"] == "Female","Purchase ID"].nunique()
sale_o = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed","Purchase ID"].nunique()

tots_m = purchase_df.loc[purchase_df["Gender"] == "Male","Price"].sum(axis=0)
tots_f = purchase_df.loc[purchase_df["Gender"] == "Female","Price"].sum(axis=0)
tots_o = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed","Price"].sum(axis=0)

avg_pm = "${:.2f}".format(tots_m/sale_m)
avg_pf = "${:.2f}".format(tots_f/sale_f) 
avg_po = "${:.2f}".format(tots_o/sale_o)

numpur_m = purchase_df.loc[purchase_df["Gender"] == "Male","SN"].nunique()
numpur_f = purchase_df.loc[purchase_df["Gender"] == "Female","SN"].nunique()
numpur_o = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed","SN"].nunique()

avg_pur_m = "${:.2f}".format(tots_m/numpur_m)
avg_pur_f = "${:.2f}".format(tots_f/numpur_f)
avg_pur_o = "${:.2f}".format(tots_o/numpur_o)

# Creating DF
gender_analysis_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other/Non-Disclosed"],
    "Purchase Count": [sale_m, sale_f, sale_o],
    "Average Purchase Price": [avg_pm, avg_pf, avg_po],
    "Total Purchase Value": ["${:.2f}".format(tots_m), "${:.2f}".format(tots_f), "${:.2f}".format(tots_o)],
    "Average Total Purchase/Person": [avg_pur_m, avg_pur_f, avg_pur_o]
}).set_index("Gender")
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase/Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [68]:
# Creating bins and labels
bins = [0,10,15,20,25,30,35,40,100]
labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Cutting
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels = labels, include_lowest = True, right = False)

# Creating a new data frame, grouped by Age Group
grouped_age_df = purchase_df.groupby(by = "Age Group")

# Creating variables for DF
tot_by_age = grouped_age_df["SN"].nunique()
pct_age = (tot_by_age/unique_players)*100

# Creating DF and formating
age_df = pd.DataFrame({
    "Total Count": tot_by_age, 
    "Percentage of Players": pct_age
})
age_df.index.name = None
age_df.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
# Creating variables
pur_count_age = purchase_df["Age Group"].value_counts()
avg_pur_price_age = grouped_age_df["Price"].mean()
tot_pur_age = grouped_age_df["Price"].sum()
avg_pur_per_age = tot_pur_age / pur_count_age

# Creating DF and formating
age_analysis_df = pd.DataFrame({
    "Purchase Count": pur_count_age, 
    "Average Purchase Price": avg_pur_price_age,
    "Total Purchase Value": tot_pur_age,
    "Average Total Purchase/Person": avg_pur_per_age
})
age_analysis_df.style.format({
    "Average Purchase Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
    "Average Total Purchase/Person": "${:.2f}"
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
# Creating variables
spender_df = purchase_df.groupby("SN")
pur_count_spender  = spender_df["Purchase ID"].count()
avg_pur_price_spender = spender_df["Price"].mean()
tot_pur_spender = spender_df["Price"].sum()

# Creating DF and formating
spenders_analysis_df = pd.DataFrame({ 
    "Purchase Count": pur_count_spender,
    "Average Purchase Price": avg_pur_price_spender,
    "Total Purchase Value": tot_pur_spender
})

spenders_analysis_df.index.name = None
spenders_analysis_df = spenders_analysis_df.sort_values(["Total Purchase Value"], ascending=False).head()

spenders_analysis_df.style.format({
    "Average Purchase Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [89]:
# Creating variables
pop_items_df = purchase_df[["Item ID", "Item Name", "Price"]]
pop_items = pop_items_df.groupby(["Item ID","Item Name"])
pur_count_item = pop_items["Price"].count()
tot_price_item = pop_items["Price"].sum()
price_item = tot_price_item / pur_count_item

# Creating DF and formating
pop_items_df = pd.DataFrame({
    "Purchase Count": pur_count_item, 
    "Item Price": price_item,
    "Total Purchase Value": tot_price_item
})

pop_items_df = pop_items_df.sort_values(["Purchase Count"], ascending=False).head()

pop_items_df.style.format({
    "Item Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [91]:
# Creating variables
pop_items_df = purchase_df[["Item ID", "Item Name", "Price"]]
pop_items = pop_items_df.groupby(["Item ID","Item Name"])
pur_count_item = pop_items["Price"].count()
tot_price_item = pop_items["Price"].sum()
price_item = tot_price_item / pur_count_item

# Creating DF and formating
pop_items_df = pd.DataFrame({
    "Purchase Count": pur_count_item, 
    "Item Price": price_item,
    "Total Purchase Value": tot_price_item
})

pop_items_df = pop_items_df.sort_values(["Total Purchase Value"], ascending=False).head()

pop_items_df.style.format({
    "Item Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
})

In [ ]:
# Three observations

# First, our player base is much older than the average games player base.
# Second, our most popular and profitable items are in the $4.50 range, whereas most age groups spend $3 on average per purchase.
# Third is a suggestion based on the first two: either market the game towards younger people given that they spend more and
# typically are more invested in games, or target the items that are popular amongst the 20-24yo age group and expand on the themes
# of those items while pricing them at around where Final Critic is.